@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base{
  body {
    @apply bg-background;
  }
}
body, aside, barra {
  --sb-track-color: #27272a;
  --sb-thumb-color: #3f3f46;
  --sb-size: 8px;
}

body::-webkit-scrollbar,
aside::-webkit-scrollbar, 
barra::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
barra::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb, 
aside::-webkit-scrollbar-thumb,
barra::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body, aside, barra {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
